@model IJPMvcApp.Models.JobPost

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
<h1>Edit</h1>

<h4>JobPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostId" class="control-label"></label>
                <input asp-for="PostId" class="form-control" readonly/>
                <span asp-validation-for="PostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobId" class="control-label"></label>
                <select asp-for="JobId" class="form-control">
                    <option></option>
                    @foreach (SelectListItem jobs in await Helper.GetJobs())
                    {
                        <option value="@jobs.Value">@jobs.Text</option>
                    }
                </select>
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofPosting" class="control-label"></label>
                <input asp-for="DateofPosting" class="form-control" />
                <span asp-validation-for="DateofPosting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDatetoApply" class="control-label"></label>
                <input asp-for="LastDatetoApply" class="form-control" />
                <span asp-validation-for="LastDatetoApply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vacancies" class="control-label"></label>
                <input asp-for="Vacancies" class="form-control" />
                <span asp-validation-for="Vacancies" class="text-danger"></span>
            </div>
                <div class="form-group" style="margin-top: 15px;margin-bottom:15px">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
