<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IJPMvcApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IJPMvcApp.styles.css" asp-append-version="true" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container-fluid{
            background-color : ButtonFace;
            padding:0;
        }

        .navbar-brand {
            margin-right: auto /* Pushes the logo to the left */
        }

        .navbar-nav {
            margin-left: auto;
            padding-left: 0; /* Remove left padding */
            padding-right: 0;
        }

        .container-fluid {
            padding-left: 0; /* Remove left padding */
            padding-right: 0; /* Remove right padding */
        }
        .allcloud{
            max-width:6%;
            height:auto;
        }
        
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                    <img src="https://cdn.prod.website-files.com/63b435b50cf3c54c440003c3/64b7c31c18bead3d787f90c0_Group%20(35).webp" class="allcloud">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="Index">Job</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Skill" asp-action="Index">Skill</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="JobSkill" asp-action="Index">JobSkill</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeSkill" asp-action="Index">EmployeeSkill</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="JobPost" asp-action="Index">JobPost</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ApplyJob" asp-action="Index">Applications</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container1" >
        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>

   <!-- <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - IJPMvcApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>


