@model IJPMvcApp.Models.Skill

@{
    ViewData["Title"] = "Create";
}
<div class="container">
<h1>Create</h1>

<h4>Skill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SkillId" class="control-label"></label>
                <input asp-for="SkillId" class="form-control" />
                <span asp-validation-for="SkillId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillName" class="control-label"></label>
                <input asp-for="SkillName" class="form-control" />
                <span asp-validation-for="SkillName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillLevel" class="control-label"></label>
                <select asp-for="SkillLevel" class="form-control">
                    <option></option>
                    @foreach (SelectListItem level in await Helper.GetLevel())
                    {
                        <option value="@level.Value">@level.Text</option>
                    }
                </select>
                <span asp-validation-for="SkillLevel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SkillCategory" class="control-label"></label>
                <input asp-for="SkillCategory" class="form-control" />
                <span asp-validation-for="SkillCategory" class="text-danger"></span>
            </div>
                <div class="form-group" style="margin-top: 15px;margin-bottom:15px">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
