@using IJPMvcApp.Helper;

@{
    ViewData["Title"] = "Interanl Job Portal";
}

<div class="text-center">
    <h1 class="display-4">We Internal Job Portal</h1>
    
</div>

@{
    ViewData["BodyClass"] = "home-page"; // Add the home-page class to the body tag
}
<div class="custom-text">

    <span class="bold">Your Dream</span> <span class="normal">Job is waiting</span>
</div>
